<div class="row black-title-text">
<h3>JOBS</h3>
</div>

<div class="left-margin row">
  <% if user_signed_in? %> 
<%= link_to 'New Job', new_job_path %>
<% end %>
</div>


<div class="row">
<div class="col-md-12">

  

<div class="event-box">    
  <div class="col-md-12">
      <% @jobs.each do |job| %>
        
      
         <h1><%= job.description %></h1>
        

      <p>
          <%= link_to 'More Information', job %>
          
         <% if user_signed_in? %> 
          <%= link_to 'Edit', edit_job_path(job) %>
          <%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
        </p>  

      <% end %>
  </div>
</div>






</div>