

<p>
  <strong class="bold">Title:</strong>
  <p></p>
  <%= @job.description %>
</p>

<p>
  <strong class="bold">Info:</strong>
  <p></p>
  <%= @job.info %>
</p>

<p>
  <strong class="bold">Website:</strong>
  <p></p>
  <%= link_to @job.website %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
