<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>

<div class="form-group">
  <%= f.label :date %><br>
   <%= f.date_select :startsat, class: "form-control" %>
   <br>
   <br>
   <%= f.label :time %><br>
   <%= f.time_select :startsat, :ignore_date => true, class: "form-control" %>
</div>
  
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: "form-control" %>
  </div>
  <p></p>
   <div class="form-group">
    <%= f.label :info %><br>
    <%= f.text_field :info, class: "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :speakers %><br>
    <%= f.text_field :speakers, class: "form-control" %>
  </div>
 <div class="form-group">
    <%= f.label :location %><br>
    <%= f.text_field :location, class: "form-control" %>
  </div>
   <div class="form-group">
    <%= f.label :sponsor %><br>
    <%= f.text_field :sponsor, class: "form-control" %>
  </div>
 
   <div class="form-group">
    <%= f.label :tickets %><br>
    <%= f.text_field :tickets %>
  </div>
 
 <p></p>
  <div class="actions">
    <%= f.submit class: "button" %>
  </div>
 <p></p>
<% end %>
