<div class="row title-text">
<h1>UPCOMING PRIVACY EVENTS</h1>
</div>

<div class="row">
<div class="col-md-12">

  
    
  <div class="box">
      <% @events.each do |event| %>
        
         <h1><%= event.name %></h1>
        

      <p>
          <%= link_to 'More Information', event %>
          
         <% if user_signed_in? %> 
          <%= link_to 'Edit', edit_event_path(event) %>
          <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
        </p>  
      <% end %>
  </div>

  <% if user_signed_in? %> 
<%= link_to 'New Event', new_event_path %>
<% end %>
    



</div>


