<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
  <p></p>
  <%= @event.info %>
</p>

<p>
  <strong>Speakers:</strong>
  <%= @event.speakers %>
</p>

<p>
  <strong>Sponsor:</strong>
  <%= @event.sponsor %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Tickets:</strong>
  <%= link_to @event.tickets %>
</p>

<% if user_signed_in? %> 
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
<% end %>