<p id="notice"><%= notice %></p>

<p>
	<%= image_tag @woman.image.url(:medium)  %> 
</p>

<p>
  <strong>Name:</strong>
  <%= @woman.name %>
</p>

<p>
  <strong>Website:</strong>
  <%= link_to @woman.website %>
</p>

<p>
  <strong>Status:</strong>
  <%= @woman.status %>
</p>

<%= link_to 'Edit', edit_woman_path(@woman) %> |
<%= link_to 'Back', women_path %>
