<!-- /HEAD-->

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Women in Security and Privacy (WISP)</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><%= link_to 'Home', root_path %></li>
                  <li><%= link_to 'Events', events_path %></li>
                  <li><%= link_to 'Board', women_path %></li>
                  <li><%= link_to 'Contact', contact_path %></li>
                  <% if user_signed_in? %>           
                  <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>         
                  <% end %>
                </ul>
              </nav>
            </div>
          </div>